//----------------------VARIABLES-----------------------

@text-header-menu-color: #b3b3b3;
@text-header-menu-color-hover: #959595;
@search-text-header-menu-color: #b9b9b9;
@lang-text-header-menu-color: #000000;

@additional-info-background-color: #00000083;
@additional-info-panel-primary-color: #2a252e;
@additional-info-panel-secondary-color: #f9f9f9;
@additional-info-header-color: #000000;

@meteo-highest-temp-color: #ff565e;
@meteo-lowest-temp-color: #51b3f5;

@navbar-text-color: #020202;
@navbar-text-color-hover: #444444;
@navbar-text-weight: 500;

@side-navbar-text-color: #d9d9d9;

@breaking-news-panel-color: #e50000;
@news-alert-panel-color: #f2f2f2;

@breaking-news-text-color: #fffdff;
@news-alert-text-color: #000000;

@article-details-text-color: #686868;

@search-text-color: #b7b7b7;
@search-panel-color: #f6f6f6;
@footer-copyright-text-color: #c8c8c8;

//----------------------UTILITY-------------------------

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin-bottom: 10em;
}

.row {
  width: 100%;
}

ul {
  display: flex;
}

li {
  margin: 0.5em;
}

a:hover {
  text-decoration: none;
}

.flex-row {
  display: flex;
  justify-content: center;
  margin: 0;
}

.hide-text {
  font-size: 0.000000001px !important;
  * {
    font-size: 0.000000001px;
  }
}

header {
  margin-top: 30px;
}

.adblock {
  display: flex;
  justify-content: center;

  margin-bottom: 30px;

  a {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    height: 285px;
  }

  img {
    width: 100%;
  }

  .close-icon {
    position: absolute;
    background-position: -73px -48px;
    right: 35px;
    top: 17px;

    cursor: pointer;
  }

  .ad-title,
  .ad-description {
    position: absolute;
    color: white;
  }

  .ad-description {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 535px;

    font-size: 5pt;

    left: 40px;
    bottom: 15px;

    font-family: Inter SemiBold;
  }

  .ad-title {
    font-size: 19pt;
    font-family: Inter SemiBold;

    left: 40px;
    bottom: 52px;
  }

  .mercedes-icon {
    background-size: 250px 250px;
    background-position: -123px -90px;

    width: 35px;
    height: 35px;

    cursor: pointer;
  }
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/sprites.png");
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

//----------------------HEADER-------------------------

.contact-options {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  li {
    width: 25px;
    height: 25px;
  }
}

.left-nav {
  display: flex;
  align-items: center;
  .text-left-nav li {
    margin: 0.5em;
  }
  li {
    display: flex;
    margin: 0.2em;
    a {
      color: @text-header-menu-color;
      &:hover {
        color: @text-header-menu-color-hover;
      }
    }
  }
}

.text-left-nav {
  margin: 10px;
}

.facebook,
.odnoklasniki,
.telegram,
.twitter,
.youtube {
  background-size: 250px 250px;
  width: 25px;
  height: 25px;
}

.facebook {
  background-position: 0 0;
}

.odnoklasniki {
  background-position: -30px 0;
}

.telegram {
  background-position: -60px 0;
}

.twitter {
  background-position: -93px 0;
}

.youtube {
  background-position: -125px 0;
}

.logo {
  display: block;
  margin: 0;
  width: 200px;
  height: 50px;

  background-image: url("../images/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.search-field {
  border: none;
  outline: none;
  &::-webkit-search-cancel-button {
    display: none;
  }
}

.right-header-menu {
  padding-left: 10em;
  flex-direction: row-reverse;
  .search-field {
    display: flex;
    position: absolute;
    color: @navbar-text-color;
    &::placeholder {
      color: @search-text-header-menu-color;
    }
    border: none;
    outline: none;
    right: 80px;
    z-index: 0;
    padding: 0.3em 1em;
    padding-right: 1.5em;
    border-radius: 20px;
    background-color: @search-panel-color;
    width: 240px;

    &::-webkit-search-cancel-button {
      display: none;
    }

    &:focus {
      caret-color: @search-text-header-menu-color;
    }
  }
  .language-options {
    position: absolute;
    right: 10px;
    top: 15px;
    color: @lang-text-header-menu-color;
    font-weight: @navbar-text-weight;
    &:hover {
      color: @lang-text-header-menu-color;
    }
  }
}

.language-options,
.search-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  z-index: 10;
  background-position: 4px -27px;
  background-size: 250px 250px;
  width: 25px;
  height: 25px;
  margin: 0.2em;
  right: 80px;
  top: 10px;

  &:focus {
    outline: none;
  }
}

.globe-icon {
  background-position: -24px -25px;
  background-size: 225px 225px;
}

.dropdown-button-icon {
  background-position: -52px -21px;
  background-size: 225px 225px;
}

.navbar {
  li {
    a {
      color: @navbar-text-color;
      font-weight: 500;
      transition: ease-in-out;
      transition-duration: 0.25s;
    }
    a:hover {
      color: @navbar-text-color-hover;
    }
  }

  #navbar-list-item {
    margin-top: 6px;
  }

  .navbar-side-menu {
    display: flex;
    align-items: center;
    color: @side-navbar-text-color;

    > span {
      margin: 0 10px;
      font-size: 20px;
    }

    .icon {
      background-size: 225px 225px;
      width: 25px;
      height: 25px;
    }

    .business {
      background-position: 2px -53px;
    }

    .currency-button {
      cursor: pointer;
      background-position: -24px -53px;
    }

    .weather-button {
      cursor: pointer;
      background-position: -52px -53px;
    }

    .live {
      background-size: 270px 270px;
      background-position: -95px -26px;
    }

    a {
      display: flex;
      margin: 0 5px;
      height: 20px;
    }
  }
}

// ----------------------ADDITIONAL INFO-------------------------

.additional-info {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: @additional-info-background-color;
  color: white;

  position: fixed;

  width: 100%;
  height: 100%;

  z-index: 100;
  top: 0;

  font-family: Inter SemiBold;

  .additional-info-background {
    position: absolute;
    z-index: 101;
    width: 100%;
    height: 100%;
  }

  .meteo,
  .curs-valutar {
    background-color: @additional-info-panel-primary-color;
    border-radius: 10px;
    overflow: hidden;
    z-index: 102;
    width: 380px;
    height: 240px;
    flex-shrink: 0;
  }
  .meteo {
    display: none;
    .city {
      display: flex;
      align-items: center;
    }
    .weather-icon {
      background-size: 300px 300px;
      width: 40px;
      height: 40px;
      background-position: -230px -35px;
      margin: auto;
    }
    .meteo-header {
      background-color: @additional-info-panel-secondary-color;
      color: @additional-info-header-color;
      font-size: 15pt;
      padding: 1em 1em;
      margin: 0;
      .weather-info {
        display: flex;
        justify-content: center;
        align-items: center;
        #current-weather {
          font-size: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 11px;
        }
        #current-temp {
          font-size: 20px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          position: absolute;
          right: -5px;
          top: 5px;
        }
      }
    }

    .meteo-content {
      margin: 0.5em 0;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .lowest-temp,
        .highest-temp {
          line-height: 20px;
        }
        .highest-temp {
          color: @meteo-highest-temp-color;
        }

        .lowest-temp {
          color: @meteo-lowest-temp-color;
        }

        .weather-icon {
          background-size: 250px 250px;
          width: 40px;
          height: 35px;
          background-position: -230px -35px;
          margin: 10px 0px;
        }

        #weather-1 {
          .weather-icon {
            background-position: -156px 1px;
          }
        }
        #weather-2 {
          .weather-icon {
            background-position: -151px -32px;
          }
        }
        #weather-3 {
          .weather-icon {
            background-position: -189px -29px;
          }
        }
        #weather-4 {
          .weather-icon {
            background-position: -156px 1px;
          }
        }
        #weather-5 {
          .weather-icon {
            background-position: -151px -32px;
          }
        }
        #weather-6 {
          .weather-icon {
            background-position: -189px -29px;
          }
        }
        #weather-7 {
          .weather-icon {
            background-position: -189px -29px;
          }
        }

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          margin: 0.2em;
          div {
            display: flex;
            flex-direction: row;
          }
        }
      }
    }
  }

  .curs-valutar {
    display: none;

    .curs-valutar-header {
      background-color: @additional-info-panel-secondary-color;
      color: @additional-info-header-color;
      font-size: 15pt;
      padding: 0.7em 1.5em;
    }
    .curs-valutar-content {
      margin: 1em;
      ul {
        display: flex;
        flex-direction: column;
        li {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          margin: 0.2em;
          margin-left: 0;

          span {
            background-size: 250px 250px;
          }

          .eur {
            background-position: 0px -125px;
          }
          .usd {
            background-position: -30px -125px;
          }
          .rub {
            background-position: -61px -125px;
          }
          .ron {
            background-position: -91px -125px;
          }
          .uah {
            background-position: -122px -125px;
          }

          .rising,
          .falling {
            position: absolute;
            left: 45.5%;
          }
          .rising {
            background-position: -165px -130px;
          }
          .falling {
            background-position: -196px -130px;
          }

          .currency {
            justify-content: space-between;
            width: 60px;
          }

          div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 0 1em;
          }
        }
      }
    }
  }
}
// ----------------------BANNERS-------------------------

.breaking-news-banner-row {
  padding-left: 15px;
  padding-right: 15px;
}

.news-alert-banner,
.breaking-news-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 90px;
  border-radius: 15px;
  padding: 3em 2em;
  margin: 0.7em auto;
  margin-top: 0;
}

.breaking-news-banner {
  background-color: @breaking-news-panel-color;

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #breaking-news-text-image {
    height: 50px;
  }

  #breaking-news-image {
    height: 70px;
    margin: 1.5em;
  }

  #breaking-news-text {
    color: @breaking-news-text-color;

    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.2px;

    margin: 1.5em;
    margin-left: 0;
  }

  #breaking-news-pretend-timer {
    background-position: -109px -54px;
    background-size: 220px 220px;
    width: 25px;
    height: 25px;
  }
}

.news-alert-banner {
  background-color: @news-alert-panel-color;
  justify-content: space-between;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #news-alert-text-image {
    height: 50px;
    margin-right: 32px;
  }

  #news-alert-image {
    height: 70px;
    margin: 1.5em;
  }

  #news-alert-text {
    color: @news-alert-text-color;

    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }

  #news-alert-nav-panel {
    display: flex;
    margin-right: -15px;
    margin-left: 25px;
  }

  #news-alert-left-arrow,
  #news-alert-right-arrow {
    background-size: 220px 220px;
    width: 15px;
    height: 25px;
    margin: 8px;
    cursor: pointer;
  }

  #news-alert-left-arrow {
    background-position: 0 -80px;
  }

  #news-alert-right-arrow {
    background-position: -80px -80px;
  }
}

.block-image {
  width: 100%;
}

.article-brief {
  color: @article-details-text-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.article-title {
  color: @news-alert-text-color;
  font-weight: bold;
}

.small-news-unit {
  a {
    margin: 0;
  }
  .article-title {
    font-size: 13.8px;
    line-height: 17px;
  }

  .block-image {
    margin-bottom: 1em;
  }

  .small-news-block {
    padding-left: 0;
    margin-bottom: 1em;
    cursor: pointer;
  }

  padding: 0;
  margin-bottom: 1em;
}

.large-news-unit {
  .large-news-block {
    cursor: pointer;
  }
  .article-title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 1em;
  }

  .block-image {
    margin-bottom: 1em;
  }
}

footer {
  .navbar,
  #search-panel {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  #search-panel {
    width: 250px;

    justify-content: space-between;
    align-items: center;

    color: @search-text-color;
    background-color: @search-panel-color;

    font-size: 14px;
    font-weight: 400;

    padding: 0.5em 1.5em;
    padding-right: 2em;

    border-radius: 20px;
  }

  .search-box {
    position: relative;

    width: 250px;
  }

  .search-icon {
    background-size: 270px 270px;
    background-position: 0px -33px;
    position: absolute;
    right: 0px;
    top: 5px;
  }

  .navbar {
    margin-top: 3em;
    font-size: 14px;
    font-weight: bolder;
  }

  .copyright-text {
    color: @footer-copyright-text-color;
    font-size: 12px;
    text-align: center;
  }
}
