* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin-bottom: 10em;
}
.row {
  width: 100%;
}
ul {
  display: flex;
}
li {
  margin: 0.5em;
}
a:hover {
  text-decoration: none;
}
.flex-row {
  display: flex;
  justify-content: center;
  margin: 0;
}
.hide-text {
  font-size: 0px !important;
}
.hide-text * {
  font-size: 0px;
}
header {
  margin-top: 30px;
}
.adblock {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.adblock a {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  height: 285px;
}
.adblock img {
  width: 100%;
}
.adblock .close-icon {
  position: absolute;
  background-position: -73px -48px;
  right: 35px;
  top: 17px;
  cursor: pointer;
}
.adblock .ad-title,
.adblock .ad-description {
  position: absolute;
  color: white;
}
.adblock .ad-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 535px;
  font-size: 5pt;
  left: 40px;
  bottom: 15px;
  font-family: Inter SemiBold;
}
.adblock .ad-title {
  font-size: 19pt;
  font-family: Inter SemiBold;
  left: 40px;
  bottom: 52px;
}
.adblock .mercedes-icon {
  background-size: 250px 250px;
  background-position: -123px -90px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/sprites.png");
  background-repeat: no-repeat;
  background-size: 200px 200px;
}
.contact-options {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.contact-options li {
  width: 25px;
  height: 25px;
}
.left-nav {
  display: flex;
  align-items: center;
}
.left-nav .text-left-nav li {
  margin: 0.5em;
}
.left-nav li {
  display: flex;
  margin: 0.2em;
}
.left-nav li a {
  color: #b3b3b3;
}
.left-nav li a:hover {
  color: #959595;
}
.text-left-nav {
  margin: 10px;
}
.facebook,
.odnoklasniki,
.telegram,
.twitter,
.youtube {
  background-size: 250px 250px;
  width: 25px;
  height: 25px;
}
.facebook {
  background-position: 0 0;
}
.odnoklasniki {
  background-position: -30px 0;
}
.telegram {
  background-position: -60px 0;
}
.twitter {
  background-position: -93px 0;
}
.youtube {
  background-position: -125px 0;
}
.logo {
  display: block;
  margin: 0;
  width: 200px;
  height: 50px;
  background-image: url("../images/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.search-field {
  border: none;
  outline: none;
}
.search-field::-webkit-search-cancel-button {
  display: none;
}
.right-header-menu {
  padding-left: 10em;
  flex-direction: row-reverse;
}
.right-header-menu .search-field {
  display: flex;
  position: absolute;
  color: #020202;
  border: none;
  outline: none;
  right: 80px;
  z-index: 0;
  padding: 0.3em 1em;
  padding-right: 1.5em;
  border-radius: 20px;
  background-color: #f6f6f6;
  width: 240px;
}
.right-header-menu .search-field::placeholder {
  color: #b9b9b9;
}
.right-header-menu .search-field::-webkit-search-cancel-button {
  display: none;
}
.right-header-menu .search-field:focus {
  caret-color: #b9b9b9;
}
.right-header-menu .language-options {
  position: absolute;
  right: 10px;
  top: 15px;
  color: #000000;
  font-weight: 500;
}
.right-header-menu .language-options:hover {
  color: #000000;
}
.language-options,
.search-field {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon {
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  z-index: 10;
  background-position: 4px -27px;
  background-size: 250px 250px;
  width: 25px;
  height: 25px;
  margin: 0.2em;
  right: 80px;
  top: 10px;
}
.search-icon:focus {
  outline: none;
}
.globe-icon {
  background-position: -24px -25px;
  background-size: 225px 225px;
}
.dropdown-button-icon {
  background-position: -52px -21px;
  background-size: 225px 225px;
}
.navbar li a {
  color: #020202;
  font-weight: 500;
  transition: ease-in-out;
  transition-duration: 0.25s;
}
.navbar li a:hover {
  color: #444444;
}
.navbar #navbar-list-item {
  margin-top: 6px;
}
.navbar .navbar-side-menu {
  display: flex;
  align-items: center;
  color: #d9d9d9;
}
.navbar .navbar-side-menu > span {
  margin: 0 10px;
  font-size: 20px;
}
.navbar .navbar-side-menu .icon {
  background-size: 225px 225px;
  width: 25px;
  height: 25px;
}
.navbar .navbar-side-menu .business {
  background-position: 2px -53px;
}
.navbar .navbar-side-menu .currency-button {
  cursor: pointer;
  background-position: -24px -53px;
}
.navbar .navbar-side-menu .weather-button {
  cursor: pointer;
  background-position: -52px -53px;
}
.navbar .navbar-side-menu .live {
  background-size: 270px 270px;
  background-position: -95px -26px;
}
.navbar .navbar-side-menu a {
  display: flex;
  margin: 0 5px;
  height: 20px;
}
.additional-info {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00000083;
  color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  font-family: Inter SemiBold;
}
.additional-info .additional-info-background {
  position: absolute;
  z-index: 101;
  width: 100%;
  height: 100%;
}
.additional-info .meteo,
.additional-info .curs-valutar {
  background-color: #2a252e;
  border-radius: 10px;
  overflow: hidden;
  z-index: 102;
  width: 380px;
  height: 240px;
  flex-shrink: 0;
}
.additional-info .meteo {
  display: none;
}
.additional-info .meteo .city {
  display: flex;
  align-items: center;
}
.additional-info .meteo .weather-icon {
  background-size: 300px 300px;
  width: 40px;
  height: 40px;
  background-position: -230px -35px;
  margin: auto;
}
.additional-info .meteo .meteo-header {
  background-color: #f9f9f9;
  color: #000000;
  font-size: 15pt;
  padding: 1em 1em;
  margin: 0;
}
.additional-info .meteo .meteo-header .weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.additional-info .meteo .meteo-header .weather-info #current-weather {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 11px;
}
.additional-info .meteo .meteo-header .weather-info #current-temp {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -5px;
  top: 5px;
}
.additional-info .meteo .meteo-content {
  margin: 0.5em 0;
}
.additional-info .meteo .meteo-content ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.additional-info .meteo .meteo-content ul .lowest-temp,
.additional-info .meteo .meteo-content ul .highest-temp {
  line-height: 20px;
}
.additional-info .meteo .meteo-content ul .highest-temp {
  color: #ff565e;
}
.additional-info .meteo .meteo-content ul .lowest-temp {
  color: #51b3f5;
}
.additional-info .meteo .meteo-content ul .weather-icon {
  background-size: 250px 250px;
  width: 40px;
  height: 35px;
  background-position: -230px -35px;
  margin: 10px 0px;
}
.additional-info .meteo .meteo-content ul #weather-1 .weather-icon {
  background-position: -156px 1px;
}
.additional-info .meteo .meteo-content ul #weather-2 .weather-icon {
  background-position: -151px -32px;
}
.additional-info .meteo .meteo-content ul #weather-3 .weather-icon {
  background-position: -189px -29px;
}
.additional-info .meteo .meteo-content ul #weather-4 .weather-icon {
  background-position: -156px 1px;
}
.additional-info .meteo .meteo-content ul #weather-5 .weather-icon {
  background-position: -151px -32px;
}
.additional-info .meteo .meteo-content ul #weather-6 .weather-icon {
  background-position: -189px -29px;
}
.additional-info .meteo .meteo-content ul #weather-7 .weather-icon {
  background-position: -189px -29px;
}
.additional-info .meteo .meteo-content ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0.2em;
}
.additional-info .meteo .meteo-content ul li div {
  display: flex;
  flex-direction: row;
}
.additional-info .curs-valutar {
  display: none;
}
.additional-info .curs-valutar .curs-valutar-header {
  background-color: #f9f9f9;
  color: #000000;
  font-size: 15pt;
  padding: 0.7em 1.5em;
}
.additional-info .curs-valutar .curs-valutar-content {
  margin: 1em;
}
.additional-info .curs-valutar .curs-valutar-content ul {
  display: flex;
  flex-direction: column;
}
.additional-info .curs-valutar .curs-valutar-content ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.2em;
  margin-left: 0;
}
.additional-info .curs-valutar .curs-valutar-content ul li span {
  background-size: 250px 250px;
}
.additional-info .curs-valutar .curs-valutar-content ul li .eur {
  background-position: 0px -125px;
}
.additional-info .curs-valutar .curs-valutar-content ul li .usd {
  background-position: -30px -125px;
}
.additional-info .curs-valutar .curs-valutar-content ul li .rub {
  background-position: -61px -125px;
}
.additional-info .curs-valutar .curs-valutar-content ul li .ron {
  background-position: -91px -125px;
}
.additional-info .curs-valutar .curs-valutar-content ul li .uah {
  background-position: -122px -125px;
}
.additional-info .curs-valutar .curs-valutar-content ul li .rising,
.additional-info .curs-valutar .curs-valutar-content ul li .falling {
  position: absolute;
  left: 45.5%;
}
.additional-info .curs-valutar .curs-valutar-content ul li .rising {
  background-position: -165px -130px;
}
.additional-info .curs-valutar .curs-valutar-content ul li .falling {
  background-position: -196px -130px;
}
.additional-info .curs-valutar .curs-valutar-content ul li .currency {
  justify-content: space-between;
  width: 60px;
}
.additional-info .curs-valutar .curs-valutar-content ul li div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 1em;
}
.breaking-news-banner-row {
  padding-left: 15px;
  padding-right: 15px;
}
.news-alert-banner,
.breaking-news-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  border-radius: 15px;
  padding: 3em 2em;
  margin: 0.7em auto;
  margin-top: 0;
}
.breaking-news-banner {
  background-color: #e50000;
}
.breaking-news-banner a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breaking-news-banner #breaking-news-text-image {
  height: 50px;
}
.breaking-news-banner #breaking-news-image {
  height: 70px;
  margin: 1.5em;
}
.breaking-news-banner #breaking-news-text {
  color: #fffdff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.2px;
  margin: 1.5em;
  margin-left: 0;
}
.breaking-news-banner #breaking-news-pretend-timer {
  background-position: -109px -54px;
  background-size: 220px 220px;
  width: 25px;
  height: 25px;
}
.news-alert-banner {
  background-color: #f2f2f2;
  justify-content: space-between;
}
.news-alert-banner a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news-alert-banner #news-alert-text-image {
  height: 50px;
  margin-right: 32px;
}
.news-alert-banner #news-alert-image {
  height: 70px;
  margin: 1.5em;
}
.news-alert-banner #news-alert-text {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.news-alert-banner #news-alert-nav-panel {
  display: flex;
  margin-right: -15px;
  margin-left: 25px;
}
.news-alert-banner #news-alert-left-arrow,
.news-alert-banner #news-alert-right-arrow {
  background-size: 220px 220px;
  width: 15px;
  height: 25px;
  margin: 8px;
  cursor: pointer;
}
.news-alert-banner #news-alert-left-arrow {
  background-position: 0 -80px;
}
.news-alert-banner #news-alert-right-arrow {
  background-position: -80px -80px;
}
.block-image {
  width: 100%;
}
.article-brief {
  color: #686868;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.article-title {
  color: #000000;
  font-weight: bold;
}
.small-news-unit {
  padding: 0;
  margin-bottom: 1em;
}
.small-news-unit .article-title {
  font-size: 13.8px;
  line-height: 17px;
}
.small-news-unit .block-image {
  margin-bottom: 1em;
}
.small-news-unit .small-news-block {
  padding-left: 0;
  margin-bottom: 1em;
  cursor: pointer;
}
.large-news-unit .large-news-block {
  cursor: pointer;
}
.large-news-unit .article-title {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 1em;
}
.large-news-unit .block-image {
  margin-bottom: 1em;
}
footer .navbar,
footer #search-panel {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
footer #search-panel {
  width: 250px;
  justify-content: space-between;
  align-items: center;
  color: #b7b7b7;
  background-color: #f6f6f6;
  font-size: 14px;
  font-weight: 400;
  padding: 0.5em 1.5em;
  padding-right: 2em;
  border-radius: 20px;
}
footer .search-box {
  position: relative;
  width: 250px;
}
footer .search-icon {
  background-size: 270px 270px;
  background-position: 0px -33px;
  position: absolute;
  right: 0px;
  top: 5px;
}
footer .navbar {
  margin-top: 3em;
  font-size: 14px;
  font-weight: bolder;
}
footer .copyright-text {
  color: #c8c8c8;
  font-size: 12px;
  text-align: center;
}
