@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
a {
  text-decoration: inherit;
  color: inherit;
  display: block;
}
a:hover {
  color: inherit;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin-bottom: 10em;
}
.row {
  width: 100%;
}
ul {
  display: flex;
}
li {
  margin: 0.5em;
}
a:hover {
  text-decoration: none;
}
.last {
  border-bottom: none !important;
}
.flex-row {
  display: flex;
  justify-content: center;
  margin: 0;
}
.more-info {
  background-color: #efefef !important;
  color: white;
  font-size: 30pt;
  line-height: 10pt;
  margin: 0.1em;
  margin-left: 50px;
  padding: 0 0.3em 0 0.3em !important;
  font-weight: 600;
  height: 40px;
}
.hide-text {
  font-size: 0px !important;
}
.hide-text * {
  font-size: 0px;
}
.section-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Inter", san-serif;
  font-weight: bold;
  font-size: 20pt;
  color: black;
  padding: 1.5em;
}
.section-logo .section-dot {
  right: 0;
  margin-top: 5px;
  background-position: -103px -27px;
}
.section-logo .section-hash {
  color: #ffd100;
  padding-left: 5pt;
}
.big-article {
  margin: 0.7em 0;
  display: block;
  position: relative;
}
.big-article img {
  width: 100%;
}
.big-article .article-header {
  font-family: "Inter", san-serif;
  font-weight: 600;
  line-height: 19pt;
  font-size: 18pt;
  color: black;
  margin: 1em 0;
}
.big-article .article-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  background-color: white;
}
.big-article .article-title .icon {
  background-position: -52px -13px;
  background-size: 100px 100px;
  width: 10px;
  height: 10px;
}
.small-article {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.small-article img {
  width: 30%;
  height: auto;
}
.small-article .article-title,
.small-article .article-header {
  font-family: "Inter", san-serif;
  font-weight: 600;
  line-height: 11pt;
  font-size: 10pt;
}
.small-article .source,
.small-article .article-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 10%;
  left: 35%;
  width: 75px;
}
.small-article .source .icon,
.small-article .article-title .icon {
  background-position: -52px -13px;
  background-size: 100px 100px;
  width: 10px;
  height: 10px;
}
.small-article .article-header {
  margin: 1em 0;
  padding: 0 1.5em;
  padding-top: 2em;
  color: #6b6b6b;
}
section {
  position: relative;
  margin: 2em 0;
}
.call-to-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: black;
  font-family: "Inter", san-serif;
  font-weight: 600;
  position: absolute;
  right: 11.3%;
  bottom: 0px;
  transition: 0.2s ease-in-out;
}
.call-to-action:hover {
  color: #444444;
}
.call-to-action .icon {
  background-position: -70px -72px;
  margin-left: 5px;
}
header {
  margin-top: 30px;
}
.adblock {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
}
.adblock a {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  height: 285px;
}
.adblock img {
  width: 100%;
}
.adblock .close-icon {
  position: absolute;
  background-position: -73px -48px;
  right: 35px;
  top: 17px;
  cursor: pointer;
}
.adblock .ad-title,
.adblock .ad-description {
  position: absolute;
  color: white;
}
.adblock .ad-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 535px;
  font-size: 5pt;
  left: 40px;
  bottom: 15px;
  font-family: "Inter", san-serif;
  font-weight: 600;
}
.adblock .ad-title {
  font-size: 19pt;
  font-family: "Inter", san-serif;
  font-weight: 600;
  left: 40px;
  bottom: 52px;
}
.adblock .mercedes-icon {
  background-size: 250px 250px;
  background-position: -122px -90px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/sprites.png");
  background-repeat: no-repeat;
  background-size: 200px 200px;
}
.contact-options {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.contact-options li {
  width: 25px;
  height: 25px;
}
.left-nav {
  display: flex;
  align-items: center;
}
.left-nav .text-left-nav li {
  margin: 0.5em;
}
.left-nav li {
  display: flex;
  margin: 0.2em;
}
.left-nav li a {
  color: #b3b3b3;
}
.left-nav li a:hover {
  color: #959595;
}
.text-left-nav {
  margin: 10px;
}
.facebook,
.odnoklasniki,
.telegram,
.twitter,
.youtube {
  background-size: 250px 250px;
  width: 25px;
  height: 25px;
}
.facebook {
  background-position: 0 0;
}
.odnoklasniki {
  background-position: -30px 0;
}
.telegram {
  background-position: -60px 0;
}
.twitter {
  background-position: -93px 0;
}
.youtube {
  background-position: -125px 0;
}
.logo {
  display: block;
  margin: 0;
  width: 200px;
  height: 50px;
  background-image: url("../images/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.search-field {
  border: none;
  outline: none;
}
.search-field::-webkit-search-cancel-button {
  display: none;
}
.right-header-menu {
  padding-left: 10em;
  flex-direction: row-reverse;
}
.right-header-menu .search-field {
  display: flex;
  position: absolute;
  color: #020202;
  border: none;
  outline: none;
  right: 80px;
  z-index: 0;
  padding: 0.3em 1em;
  padding-right: 1.5em;
  border-radius: 20px;
  background-color: #f6f6f6;
  width: 240px;
}
.right-header-menu .search-field::placeholder {
  color: #b9b9b9;
}
.right-header-menu .search-field::-webkit-search-cancel-button {
  display: none;
}
.right-header-menu .search-field:focus {
  caret-color: #b9b9b9;
}
.right-header-menu .language-options {
  position: absolute;
  right: 10px;
  top: 15px;
  color: #000000;
  font-weight: 500;
}
.right-header-menu .language-options:hover {
  color: #000000;
}
.language-options,
.search-field {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon {
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  z-index: 10;
  background-position: 4px -27px;
  background-size: 250px 250px;
  width: 25px;
  height: 25px;
  margin: 0.2em;
  right: 80px;
  top: 10px;
}
.search-icon:focus {
  outline: none;
}
.globe-icon {
  background-position: -24px -25px;
  background-size: 225px 225px;
}
.dropdown-button-icon {
  background-position: -52px -21px;
  background-size: 225px 225px;
}
.navbar ul {
  margin-bottom: 0;
}
.navbar li a {
  color: #020202;
  font-weight: 500;
  transition: ease-in-out;
  transition-duration: 0.25s;
}
.navbar li a:hover {
  color: #444444;
}
.navbar #navbar-list-item {
  margin-top: 6px;
}
.navbar .navbar-side-menu {
  display: flex;
  align-items: center;
  color: #d9d9d9;
}
.navbar .navbar-side-menu > span {
  margin: 0 10px;
  font-size: 20px;
}
.navbar .navbar-side-menu .icon {
  background-size: 225px 225px;
  width: 25px;
  height: 25px;
}
.navbar .navbar-side-menu .business {
  background-position: 2px -53px;
}
.navbar .navbar-side-menu .currency-button {
  cursor: pointer;
  background-position: -24px -53px;
}
.navbar .navbar-side-menu .weather-button {
  cursor: pointer;
  background-position: -52px -53px;
}
.navbar .navbar-side-menu .live {
  background-size: 270px 270px;
  background-position: -106px -38px;
}
.navbar .navbar-side-menu a {
  display: flex;
  margin: 0 5px;
  height: 20px;
}
.additional-info {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00000083;
  color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  font-family: "Inter", san-serif;
  font-weight: 600;
}
.additional-info .additional-info-background {
  position: absolute;
  z-index: 101;
  width: 100%;
  height: 100%;
}
.additional-info .meteo,
.additional-info .curs-valutar {
  background-color: #2a252e;
  border-radius: 10px;
  overflow: hidden;
  z-index: 102;
  width: 380px;
  height: 240px;
  flex-shrink: 0;
}
.additional-info .meteo {
  display: none;
}
.additional-info .meteo .city {
  display: flex;
  align-items: center;
}
.additional-info .meteo .weather-icon {
  background-size: 300px 300px;
  width: 40px;
  height: 40px;
  background-position: -230px -35px;
  margin: auto;
}
.additional-info .meteo .meteo-header {
  background-color: #f9f9f9;
  color: #000000;
  font-size: 15pt;
  padding: 1em 1em;
  margin: 0;
}
.additional-info .meteo .meteo-header .weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.additional-info .meteo .meteo-header .weather-info #current-weather {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 11px;
}
.additional-info .meteo .meteo-header .weather-info #current-temp {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -5px;
  top: 5px;
}
.additional-info .meteo .meteo-content {
  margin: 0.5em 0;
}
.additional-info .meteo .meteo-content ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.additional-info .meteo .meteo-content ul .lowest-temp,
.additional-info .meteo .meteo-content ul .highest-temp {
  line-height: 20px;
}
.additional-info .meteo .meteo-content ul .highest-temp {
  color: #ff565e;
}
.additional-info .meteo .meteo-content ul .lowest-temp {
  color: #51b3f5;
}
.additional-info .meteo .meteo-content ul .weather-icon {
  background-size: 250px 250px;
  width: 40px;
  height: 35px;
  background-position: -230px -35px;
  margin: 10px 0px;
}
.additional-info .meteo .meteo-content ul #weather-1 .weather-icon {
  background-position: -156px 1px;
}
.additional-info .meteo .meteo-content ul #weather-2 .weather-icon {
  background-position: -151px -32px;
}
.additional-info .meteo .meteo-content ul #weather-3 .weather-icon {
  background-position: -189px -29px;
}
.additional-info .meteo .meteo-content ul #weather-4 .weather-icon {
  background-position: -156px 1px;
}
.additional-info .meteo .meteo-content ul #weather-5 .weather-icon {
  background-position: -151px -32px;
}
.additional-info .meteo .meteo-content ul #weather-6 .weather-icon {
  background-position: -189px -29px;
}
.additional-info .meteo .meteo-content ul #weather-7 .weather-icon {
  background-position: -189px -29px;
}
.additional-info .meteo .meteo-content ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0.2em;
}
.additional-info .meteo .meteo-content ul li div {
  display: flex;
  flex-direction: row;
}
.additional-info .curs-valutar {
  display: none;
}
.additional-info .curs-valutar .curs-valutar-header {
  background-color: #f9f9f9;
  color: #000000;
  font-size: 15pt;
  padding: 0.7em 1.5em;
}
.additional-info .curs-valutar .curs-valutar-content {
  margin: 1em;
}
.additional-info .curs-valutar .curs-valutar-content ul {
  display: flex;
  flex-direction: column;
}
.additional-info .curs-valutar .curs-valutar-content ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.2em;
  margin-left: 0;
}
.additional-info .curs-valutar .curs-valutar-content ul li span {
  background-size: 250px 250px;
}
.additional-info .curs-valutar .curs-valutar-content ul li .eur {
  background-position: 0px -125px;
}
.additional-info .curs-valutar .curs-valutar-content ul li .usd {
  background-position: -30px -125px;
}
.additional-info .curs-valutar .curs-valutar-content ul li .rub {
  background-position: -61px -125px;
}
.additional-info .curs-valutar .curs-valutar-content ul li .ron {
  background-position: -91px -125px;
}
.additional-info .curs-valutar .curs-valutar-content ul li .uah {
  background-position: -122px -125px;
}
.additional-info .curs-valutar .curs-valutar-content ul li .rising,
.additional-info .curs-valutar .curs-valutar-content ul li .falling {
  position: absolute;
  left: 45.5%;
}
.additional-info .curs-valutar .curs-valutar-content ul li .rising {
  background-position: -165px -130px;
}
.additional-info .curs-valutar .curs-valutar-content ul li .falling {
  background-position: -196px -130px;
}
.additional-info .curs-valutar .curs-valutar-content ul li .currency {
  justify-content: space-between;
  width: 60px;
}
.additional-info .curs-valutar .curs-valutar-content ul li div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 1em;
}
.banners {
  margin-top: 0.5em;
}
.breaking-news-banner-row {
  padding-left: 15px;
  padding-right: 15px;
}
.rlive-news-banner,
.news-alert-banner,
.breaking-news-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  border-radius: 15px;
  padding: 3em 2em;
  margin: 0.7em auto;
  margin-top: 0;
}
.breaking-news-title,
.news-alert-title,
.rlive-news-title {
  font-size: 17pt;
  font-family: "Inter", san-serif;
  font-weight: 600;
  position: relative;
  width: 103px;
}
.breaking-news-dot,
.news-alert-dot,
.rlive-news-dot {
  background-size: 300px 300px;
  background-position: -121px -47px;
  position: absolute;
  right: 20px;
  bottom: 5px;
}
.breaking-news-banner {
  background-color: #e50000;
}
.breaking-news-banner .breaking-news-dot {
  background-size: 300px 300px;
  background-position: -121px -47px;
  position: absolute;
  right: 35px;
  bottom: 5px;
}
.breaking-news-banner .breaking-news-title {
  width: 120px;
}
.breaking-news-banner a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breaking-news-banner #breaking-news-text-image {
  height: 50px;
}
.breaking-news-banner #breaking-news-image {
  height: 70px;
  margin: 1.5em;
}
.breaking-news-banner #breaking-news-text {
  color: #fffdff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.2px;
  margin: 1.5em;
  margin-left: 0;
}
.breaking-news-banner #breaking-news-pretend-timer {
  background-position: -109px -54px;
  background-size: 220px 220px;
  width: 25px;
  height: 25px;
}
#main .breaking-news-banner {
  background-color: #ffd100;
  color: #000000;
  justify-content: start;
}
#main .breaking-news-banner #breaking-news-text {
  color: #000000;
}
#main .news-alert-banner {
  background-color: #e50000;
  color: #fffdff;
}
#main .news-alert-banner #news-alert-right-arrow {
  background-position: -165px -80px;
}
#main .news-alert-banner #news-alert-text {
  color: #fffdff;
}
#main .rlive-news-banner {
  background-color: #009d8d;
  color: #000000;
}
#main .rlive-news-banner #rlive-news-right-arrow {
  background-position: -165px -80px;
}
#main .rlive-news-banner #rlive-news-text {
  color: #fffdff;
}
.rlive-news-banner,
.news-alert-banner {
  background-color: #f2f2f2;
  justify-content: space-between;
}
.rlive-news-banner a,
.news-alert-banner a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news-alert-banner #news-alert-text-image {
  height: 50px;
  margin-right: 32px;
}
.news-alert-banner .news-alert-dot {
  background-position: -159px -46px;
}
.news-alert-banner #news-alert-image {
  height: 70px;
  margin: 1.5em;
}
.news-alert-banner #news-alert-text {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.news-alert-banner #news-alert-nav-panel {
  display: flex;
  margin-right: -15px;
  margin-left: 25px;
}
.news-alert-banner #news-alert-left-arrow,
.news-alert-banner #news-alert-right-arrow {
  background-size: 220px 220px;
  width: 15px;
  height: 25px;
  margin: 8px;
  cursor: pointer;
}
.news-alert-banner #news-alert-left-arrow {
  background-position: 0 -80px;
}
.news-alert-banner #news-alert-right-arrow {
  background-position: -80px -80px;
}
.rlive-news-banner #rlive-news-text-image {
  height: 50px;
  margin-right: 32px;
}
.rlive-news-banner .rlive-news-dot {
  background-position: -159px -46px;
}
.rlive-news-banner #rlive-news-image {
  height: 70px;
  margin: 1.5em;
}
.rlive-news-banner #rlive-news-text {
  color: #fffdff;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.rlive-news-banner #rlive-news-nav-panel {
  display: flex;
  margin-right: -15px;
  margin-left: 25px;
}
.rlive-news-banner #rlive-news-left-arrow,
.rlive-news-banner #rlive-news-right-arrow {
  background-size: 220px 220px;
  width: 15px;
  height: 25px;
  margin: 8px;
  cursor: pointer;
}
.rlive-news-banner #rlive-news-left-arrow {
  background-position: 0 -80px;
}
.rlive-news-banner #rlive-news-right-arrow {
  background-position: -80px -80px;
}
.headline-news {
  margin-top: 10px;
}
.category-text,
.category-dot {
  display: none;
}
.category-text {
  position: absolute;
  align-items: center;
  font-family: "Inter", san-serif;
  font-weight: 600;
  background-color: white;
  color: black;
  font-size: 15px;
}
.category-dot {
  background-position: -52px -13px;
  background-size: 100px 100px;
  width: 10px;
  height: 10px;
  margin: 2px;
}
#small-headline-block-1 .category-text,
#small-headline-block-3 .category-text,
#small-headline-block-4 .category-text,
#small-headline-block-1 .category-dot,
#small-headline-block-3 .category-dot,
#small-headline-block-4 .category-dot {
  display: flex;
}
.block-image {
  width: 100%;
}
.article-brief {
  color: #686868;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.article-title {
  color: #000000;
  font-weight: bold;
}
.small-news-unit {
  padding: 0;
  margin-bottom: 1em;
}
.small-news-unit a {
  margin: 0;
}
.small-news-unit .article-title {
  font-size: 13.8px;
  line-height: 17px;
}
.small-news-unit .block-image {
  margin-bottom: 1em;
}
.small-news-unit .small-news-block {
  padding-left: 0;
  margin-bottom: 1em;
  cursor: pointer;
}
.large-news-unit .large-news-block {
  cursor: pointer;
}
.large-news-unit .article-title {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 1em;
}
.large-news-unit .block-image {
  margin-bottom: 1em;
}
.bani,
.realitatea-tv,
.rlive {
  background-color: #333347;
  font-family: "Inter", san-serif;
  font-weight: 600;
  color: white;
  padding: 1em 0;
}
.bani .logo-col,
.realitatea-tv .logo-col,
.rlive .logo-col {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.bani #article-1,
.realitatea-tv #article-1,
.rlive #article-1,
.bani #article-2,
.realitatea-tv #article-2,
.rlive #article-2,
.bani #article-3,
.realitatea-tv #article-3,
.rlive #article-3 {
  flex: 0 0 27.5%;
  max-width: 27.5%;
}
.bani .call-to-action,
.realitatea-tv .call-to-action,
.rlive .call-to-action {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: -35%;
  height: 100%;
  width: fit-content;
  color: white;
  right: 40%;
}
.bani .call-to-action .icon,
.realitatea-tv .call-to-action .icon,
.rlive .call-to-action .icon {
  margin-left: 0.3em;
  background-position: -70px -72px;
}
.bani .logo-rlive,
.realitatea-tv .logo-rlive,
.rlive .logo-rlive {
  width: 120px;
  margin-right: 22.2%;
  border-radius: 0;
}
.bani .row,
.realitatea-tv .row,
.rlive .row {
  margin: 1em 0;
}
.bani img,
.realitatea-tv img,
.rlive img {
  width: 100%;
  border-radius: 10px;
  margin: 1em 0;
}
.bani .article-text,
.realitatea-tv .article-text,
.rlive .article-text {
  color: #7a7a8a;
  font-size: 10pt;
  font-weight: 400;
  margin: 1em;
}
.bani .article-header,
.realitatea-tv .article-header,
.rlive .article-header {
  margin: 0.5em;
  color: white;
  font-size: 15pt;
}
.bani .article-header,
.realitatea-tv .article-header,
.rlive .article-header,
.bani .article-text,
.realitatea-tv .article-text,
.rlive .article-text {
  margin-left: 0;
}
.actualitate {
  margin-bottom: 5em;
}
.actualitate .section-logo {
  margin: auto;
  width: 96.5%;
  padding-left: 0;
}
.actualitate ul {
  display: flex;
  flex-direction: column;
}
.actualitate .top-news {
  margin-left: -20px;
}
.actualitate .big-article {
  height: 400px;
}
.article {
  display: flex;
  font-family: "Inter", san-serif;
  font-weight: 600;
  padding-bottom: 1em;
  border-bottom: 2px solid #c6c6c6;
}
.article > * {
  display: flex;
}
.article .article-time,
.article .article-no {
  color: #ffd100;
  font-size: 40pt;
  margin-top: -15px;
  padding-right: 10px;
}
.article .article-header {
  font-size: 10.5pt;
  line-height: 12pt;
}
.sub-economie {
  background-color: #efefef;
  padding: 2em 0;
}
.sub-economie .small-article {
  flex: 0 0 27.5%;
  max-width: 27.5%;
  margin: 2em 0;
}
.sub-economie .small-article a {
  display: inherit;
}
.sub-economie .small-article img {
  width: 45%;
}
.sub-economie .small-article .article-header {
  padding-left: 15px;
  padding-right: 25px;
}
.sub-economie .small-article .article-title {
  left: 50%;
}
.politica {
  padding-bottom: 4em;
}
.politica .section-logo {
  padding-left: 0;
  padding-bottom: 1em;
}
.politica .adblock {
  height: auto;
  margin-top: 28%;
}
.politica .adblock .close-icon {
  right: 14px;
}
.politica .adblock a {
  height: auto;
}
.politica .adblock a img {
  height: auto;
  overflow: initial;
}
.politica .big-article {
  height: 330px;
  border-bottom: 2px solid #c6c6c6;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
.politica .big-article .article-header {
  font-size: 13pt;
  line-height: 16pt;
}
.politica .small-article {
  padding-top: 10px;
  align-items: flex-end;
}
.politica .small-article img {
  width: 35%;
}
.politica .small-article .article-header {
  padding-left: 10px;
  padding-right: 0;
  padding-top: 1em;
  margin-bottom: 0;
  font-size: 11pt;
  line-height: 13pt;
}
.politica .small-article .article-title {
  left: 37.7%;
}
.realitatea-tv .logo-realitatea-tv {
  width: 170px;
  margin-right: 5.2%;
}
.realitatea-tv .logo-realitatea-tv * {
  border-radius: 0px;
}
.realitatea-tv .call-to-action {
  margin-left: -5%;
}
.societate .section-logo,
.economie .section-logo,
.in-lume .section-logo,
.life .section-logo {
  padding-left: 9.5%;
}
.societate .big-article .article-header,
.economie .big-article .article-header,
.in-lume .big-article .article-header,
.life .big-article .article-header {
  font-size: 15pt;
  line-height: 17pt;
}
.societate .small-article,
.economie .small-article,
.in-lume .small-article,
.life .small-article {
  border-bottom: 2px solid #c6c6c6;
  padding-bottom: 0.7em;
  margin-bottom: 0.3em;
}
.societate .small-article img,
.economie .small-article img,
.in-lume .small-article img,
.life .small-article img {
  width: 35%;
}
.societate .small-article .article-title,
.economie .small-article .article-title,
.in-lume .small-article .article-title,
.life .small-article .article-title {
  top: 15%;
  left: 39.5%;
}
.societate .small-article .article-header,
.economie .small-article .article-header,
.in-lume .small-article .article-header,
.life .small-article .article-header {
  padding-left: 1em;
  padding-right: 0;
  line-height: 14.5pt;
}
.life .small-article .article-title,
.in-lume .small-article .article-title {
  width: 60px;
}
.life {
  padding-bottom: 2em;
}
.opinii .horoscope .section-logo {
  padding-left: 2%;
}
.opinii .section-logo {
  padding-left: 5%;
}
.opinii .opinions {
  display: flex;
  flex-direction: column;
}
.opinii .opinions li {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  border-bottom: 2px solid #c6c6c6;
  padding: 1em;
}
.opinii .opinions li img {
  width: 25%;
}
.opinii .opinions li .opinion-name,
.opinii .opinions li .opinion-description {
  font-family: "Inter", san-serif;
  font-weight: 600;
}
.opinii .opinions li .opinion-description {
  line-height: 11pt;
  font-size: 10pt;
  padding-top: 2em;
  padding-left: 1em;
}
.opinii .opinions li .opinion-name {
  position: absolute;
  font-size: 12pt;
  top: 15%;
  left: 30.5%;
}
.opinii .section-header {
  display: flex;
  align-items: center;
}
.opinii .section-header .section-logo {
  padding-right: 0;
}
.opinii .article-time {
  display: flex;
  padding-top: 10px;
  font-family: "Inter", san-serif;
  font-weight: 600;
}
.opinii .article-time .article-day {
  color: #959595;
}
.opinii .article-time .article-date {
  margin-left: 3pt;
  color: black;
}
.opinii .zodii {
  flex-wrap: wrap;
}
.opinii .zodii a {
  font-family: "Inter", san-serif;
  font-weight: 600;
  font-size: 10pt;
  background-color: #f6f5f7;
  border-radius: 20px;
  padding: 0.5em 0.7em;
  transition: 0.2s ease-in-out;
}
.opinii .zodii a:hover {
  background-color: #f8d744;
  color: white;
}
.opinii .zodii .selected a {
  background-color: #ffd100;
  color: white;
}
.opinii .zodiac-article {
  background-color: #f6f5f7;
  border-radius: 20px;
  padding: 2em;
  font-family: "Inter", san-serif;
  font-weight: 600;
}
.opinii .zodiac-article .zodiac-description {
  color: #686868;
  font-size: 10pt;
  line-height: 13pt;
  padding: 2em 0;
}
.opinii .zodiac-article .zodiac-header {
  display: flex;
  align-items: center;
  font-size: 11pt;
}
.opinii .zodiac-article .zodiac-header .zodiac-name {
  font-size: 21pt;
}
.opinii .zodiac-article .zodiac-header .zodiac-period {
  padding-top: 7px;
  padding-left: 10px;
}
.opinii .zodiac-article .zodiac-header .zodiac-icon {
  padding: 0 20px;
  background-size: 250px 250px;
  background-position: -217px -92px;
  width: 30px;
  height: 30px;
}
.opinii .zodiac-article .zodiac-footer {
  display: flex;
  align-items: center;
  color: #959595;
  font-size: 9pt;
}
.opinii .zodiac-article .zodiac-footer .share {
  margin-bottom: 0;
  margin-left: 10px;
}
.opinii .zodiac-article .zodiac-footer .share li {
  margin: 3px;
}
.bani {
  background-color: #f1f1f1;
}
.bani .article-header,
.bani .article-text {
  color: black;
}
.bani .bani-logo {
  width: 40%;
  margin-right: 22%;
}
.bani img {
  border-radius: 0;
}
.bani .article-text {
  font-weight: 600;
}
.social-networks,
.top-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: auto;
  border-bottom: 2px solid #c6c6c6;
  border-top: 2px solid #c6c6c6;
}
.social-networks ul,
.top-tags ul {
  margin-bottom: 0;
}
.social-networks ul .social-network,
.top-tags ul .social-network,
.social-networks ul .tag,
.top-tags ul .tag {
  background-color: #ffd100;
  border-radius: 20px;
  padding: 0.3em 0.5em;
  transition: 0.3s ease-in-out;
}
.social-networks ul .social-network:hover,
.top-tags ul .social-network:hover,
.social-networks ul .tag:hover,
.top-tags ul .tag:hover {
  background-color: #f8d744;
}
.social-networks .social-network {
  font-family: "Inter", san-serif;
  font-weight: 600;
  font-size: 10pt;
  line-height: 20pt;
  padding: 0.3em;
  color: white;
}
.social-networks .social-network#facebook {
  background-color: #1f429f;
}
.social-networks .social-network#twitter {
  background-color: #00afe8;
}
.social-networks .social-network#odnoklasniki {
  background-color: #ff9b00;
}
.social-networks .social-network#youtube {
  background-color: #ff0000;
}
.social-networks .social-network#telegram {
  background-color: #5ac6fc;
}
.social-networks .social-network#instagram {
  background-color: #ff4d9c;
}
.additional-articles {
  background-color: #f6f5f7;
  padding-top: 3em;
  padding-bottom: 3em;
}
.additional-articles .row > div {
  flex: 0 0 27.5%;
  max-width: 27.5%;
}
.additional-articles .small-article {
  margin: 1em;
}
.additional-articles .small-article img {
  width: 44%;
}
.additional-articles .small-article .source {
  color: white;
  background-color: #c5c5c5;
  border-radius: 20px;
  padding: 0.4em;
  font-size: 8pt;
  font-weight: 600;
  width: auto;
  left: 50%;
}
.additional-articles .small-article .article-header {
  color: black;
  padding-right: 0;
}
.auto-tech-sport {
  padding-bottom: 5em;
}
.auto-tech-sport subsection {
  flex: 0 0 27.5%;
  max-width: 27.5%;
}
.auto-tech-sport subsection .section-logo {
  padding-left: 0.3em;
  padding-bottom: 0.5em;
}
.auto-tech-sport subsection ul {
  display: flex;
  flex-direction: column;
}
.auto-tech-sport subsection ul .small-article {
  border-bottom: 2px solid #c6c6c6;
  padding-bottom: 5%;
}
.auto-tech-sport subsection ul img {
  width: 30%;
  height: 30%;
  padding-top: 35px;
}
.auto-tech-sport subsection ul .article-title {
  width: 45px;
  left: 36%;
  top: 17%;
}
.auto-tech-sport subsection ul .article-header {
  padding-right: 0;
  font-size: 10pt;
  line-height: 13pt;
}
.auto-tech-sport subsection ul a {
  display: flex;
}
.toate-stirile .row > div {
  flex: 0 0 27.5%;
  max-width: 27.5%;
}
.toate-stirile .section-logo {
  padding-left: 13.5%;
}
.toate-stirile hr {
  margin-top: 4em;
  border: 1px solid #c6c6c6;
  flex: 0 0 82.5%;
  max-width: 82.5%;
}
.toate-stirile .article {
  padding: 1.5em 0;
}
.toate-stirile .article .article-time {
  padding-top: 15pt;
  font-size: 15pt;
  height: fit-content;
}
.toate-stirile .article .article-description {
  font-size: 10pt;
}
footer {
  padding-top: 2em;
}
footer .navbar,
footer #search-panel {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
footer #search-panel {
  width: 250px;
  justify-content: space-between;
  align-items: center;
  color: #b7b7b7;
  background-color: #f6f6f6;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1em;
  padding: 0.5em 1.5em;
  padding-right: 2em;
  border-radius: 20px;
}
footer .search-box {
  position: relative;
  width: 250px;
}
footer .search-icon {
  background-size: 270px 270px;
  background-position: 0px -33px;
  position: absolute;
  right: 0px;
  top: 5px;
}
footer .navbar {
  margin-top: 3em;
  font-size: 14px;
  font-weight: bolder;
}
footer .copyright-text {
  padding-top: 2em;
  color: #c8c8c8;
  font-size: 12px;
  text-align: center;
}
