// #post .headline .list {
//   .small-article,
//   .adblock {
//     padding-left: 7%;
//     width: 75%;
//   }
// }

#post .headline {
  .small-article {
    a {
      transition: 0.2s ease-in-out;
      padding: 0.5em;
      flex-direction: column;
      &:hover {
        border-radius: 10px;
        background-color: @article-background-color-hover;
      }
    }
  }
}

#arhiva .headline > .container-lg {
  margin-bottom: 10em;
}

#arhiva .headline .side-headline {
  .dates {
    padding: 0 0.4em;
    font-family: @main-font;
    font-weight: @main-font-weight;
    & > .row {
      display: flex;
      justify-content: space-between;
      margin: 0.3em 0;
      .date {
        cursor: default;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 10pt;

        width: 29px;
        height: 27px;
        border-radius: 8px;

        transition: 0.2s ease-in-out;
        &:hover {
          background-color: @article-background-color-hover;
        }
      }
      .current {
        background-color: @current-day-background-color;
        color: @calendar-next-month-days-color;

        &:hover {
          background-color: @current-day-background-color;
        }
      }
      .next {
        color: @calendar-next-month-days-color;
      }
    }
  }

  .calendar {
    .month-row {
      justify-content: space-between;
    }
    .month {
      font-family: @main-font;
      font-weight: @main-font-weight;
      font-size: 17pt;
    }
  }

  .week-days {
    color: @calendar-week-days-color;
    font-family: @main-font;
    font-weight: @main-font-weight;
    font-size: 10pt;

    display: flex;
    justify-content: space-evenly;

    div {
      display: flex;
      justify-content: center;
      align-items: center;

      margin: 0;
      width: 26px;
      height: 27px;
    }
  }

  .adblock {
    margin: 0;
  }
  .section-logo {
    font-size: 18pt;
  }
  .article {
    .image-frame {
      width: 120%;
      img {
        width: 100%;
      }
      ul {
        margin-bottom: 0;
      }
    }
    .article-header {
      padding-left: 0.5em;
    }
  }
  .list {
    ul {
      margin-left: unset;
    }
    li {
      padding-left: 0;
    }
  }
  .cele-mai-accesate {
    padding-bottom: 0;
    ul {
      height: unset;
      margin-bottom: 0;
    }
  }
  .rlive-side {
    .small-article {
      margin: 0;
    }
    .section-logo {
      padding-left: 0.5em;
    }
  }
  .agenda {
    padding-top: 0;
  }
}

#arhiva .headline {
  margin-top: 0;
  .subsection-date {
    display: flex;

    padding-top: 1em;
    padding-left: 0.6em;

    font-family: @main-font;
    font-weight: @main-font-weight;
    font-size: 16pt;
    color: white;

    .date {
      color: @logo-hash-color;
    }
  }
  .list {
    padding-left: 0;
  }
  .section-logo {
    padding: 0.5em 0;
    padding-left: 0.5em;
    padding-top: 0;
    font-size: 23pt;
  }
  .article {
    img {
      width: 50%;
    }
    .article-header {
      margin-top: 0;
    }
  }
  .small-article {
    a {
      flex-direction: column;

      padding: 0.7em;

      transition: 0.2s ease-in-out;
      &:hover {
        border-radius: 10px;
        background-color: @article-background-color-hover;
      }

      .article-header {
        color: white;
        font-size: 12pt;
        line-height: 15pt;
        font-weight: 700;
        padding: 0;
      }
    }
  }
}

.headline {
  .article-additional-info {
    display: flex;

    font-size: 10pt;
    color: @article-additional-info-text-color;

    & > div {
      display: flex;
      align-items: center;
      padding: 0.5em 0.7em;
      &.location {
        padding-left: 0;
      }
    }
  }
}

.small-sub-headline {
  display: flex;
  flex-wrap: wrap;

  margin: auto;

  .small-article {
    .article-header {
      padding: 0;

      margin-top: 0;

      font-size: 12pt;
      line-height: 13pt;
      color: white;
    }
  }
}

.sub-headline {
  display: flex;
  align-items: center;
  .list {
    padding-top: 0.7em;
    ul {
      overflow: hidden;
      height: unset;
    }
    li {
      margin-top: 0;
    }
  }

  &.scroll .list ul {
    overflow: auto;
    height: 450px;
  }

  hr {
    margin-bottom: 0;
  }
}

.list {
  display: flex;
  flex-direction: column;
  padding: 2em;
  padding-right: 0;
  position: relative;

  ul {
    direction: rtl;
    flex-direction: column;
    height: 500px;
    overflow: auto;
    margin-left: -25px;

    li {
      direction: ltr;
      padding-left: 1em;
    }

    &::-webkit-scrollbar {
      width: 5px;
      margin-right: 100px;
    }

    &::-webkit-scrollbar-track {
      background: @scrollbar-track-color;
      overflow: hidden;

      border-radius: 2px;

      -webkit-box-shadow: inset -1px 0px 0px 0px rgba(66, 60, 79, 1);
      -moz-box-shadow: inset -1px 0px 0px 0px rgba(66, 60, 79, 1);
      box-shadow: inset -1px 0px 0px 0px rgba(66, 60, 79, 1);
    }

    &::-webkit-scrollbar-thumb {
      background-color: @scrollbar-thumb-color;
      border-radius: 2px;
      &:hover {
        background-color: @scrollbar-thumb-color-hover;
      }
    }

    .shadow-ul {
      position: absolute;
      bottom: 0;
      right: 0;

      z-index: 100;

      width: 95%;
      height: 200px;

      pointer-events: none;

      -webkit-box-shadow: inset 0px -125px 70px 7px rgba(50, 44, 64, 1);
      -moz-box-shadow: inset 0px -125px 70px 7px rgba(50, 44, 64, 1);
      box-shadow: inset 0px -125px 70px 7px rgba(50, 44, 64, 1);
    }
  }

  .section-logo {
    padding-left: 0;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }
}

.realitatea-tv-subclass {
  display: block;
  padding-bottom: 2em;
}

.content-text {
  color: #201f1f;
}

.headline-article {
  font-weight: @main-font-weight;
  font-family: @main-font;
  color: black;

  #two-line-actualitate {
    position: relative;
    padding: 0.5em 0;
    .section-dot {
      position: absolute;
      top: 55%;
      left: 55%;
      right: unset;
    }
  }

  #main-article-image {
    width: 95%;
  }

  .content-image {
    width: 100%;
    margin: 1em 0;
  }

  .options,
  .article-tags {
    display: flex;
    .option,
    .tag {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5em;
      margin: 0.5em;

      border: 1px solid @article-tags-border-color;
      border-radius: 10px;
      font-size: 12pt;
      transition: 0.2s ease-in-out;
      &:hover {
        background-color: darken(white, 5%);
      }
    }
  }

  .options {
    .icon {
      background-size: 300px;
      width: 35px;
      height: 35px;
      margin: 0 5px;
    }
    .comment {
      background-position: -73px -223px;
    }
    .google-news {
      background-position: -113px -223px;
    }
  }

  .comment-div {
    background-color: @comment-background-color;
    border: 1px solid @article-tags-border-color;
    padding: 0.5em;
    border-radius: 20px;

    width: fit-content;
    overflow: hidden;
    margin-left: 10px;
  }

  .comment-section {
    display: flex;
    margin: 2em 0;
    img {
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
    textarea {
      background-color: @comment-background-color;
      outline: none;
      resize: none;
      border: none;

      &::-webkit-scrollbar {
        cursor: default;
        width: 5px;
        padding-right: 10px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: rgb(223, 223, 223);
      }

      &::-webkit-scrollbar-thumb:hover {
        background: rgb(213, 213, 213);
      }
    }
  }

  .article-content {
    margin-top: 2em;
    font-size: 12pt;
    line-height: 15pt;
    color: @article-text-color;
  }

  .contact-options {
    width: inherit;
    flex-direction: column;
    .icon {
      background-size: 300px;
      width: 30px;
      height: 30px;
    }
    .twitter {
      background-position: -112px 0;
    }
    .telegram {
      background-position: -75px 0;
    }
    .odnoklasniki {
      background-position: -38px 0;
    }
    .contact-text {
      margin-bottom: 0.5em;
    }
    a {
      margin: 3px;
    }
  }

  .article-details {
    display: flex;
    color: @article-details-text-color;
    font-size: 10pt;
    .date-time {
      margin-left: 0.3em;
      color: black;
    }
  }

  .section-logo {
    padding: 1em 0;
  }

  .title {
    font-size: 30pt;
  }

  ul {
    font-size: 8pt;
    width: 100%;
    margin: 0;
    li:first-child {
      list-style-type: none;
      padding-left: 0;
    }
    li {
      padding-left: 0.3em;
      list-style-type: ">";

      &:hover {
        color: @article-nav-last-text-color-hover;
      }
    }
    li.selected {
      color: @article-nav-last-text-color;
    }
  }
}

.contact-options {
  width: inherit;

  display: flex;
  justify-content: center;
}

.headline-news {
  margin-top: 10px;
  .small-news-block {
    height: 200px;
  }
  .adblock {
    margin-top: 20px;
  }
}

.category-text,
.category-dot {
  display: none;
}

.category-text {
  position: absolute;
  align-items: center;
  font-family: @main-font;
  font-weight: @main-font-weight;
  background-color: white;
  color: black;
  font-size: 15px;
}

.category-dot {
  background-position: -52px -13px;
  background-size: 100px 100px;
  width: 10px;
  height: 10px;
  margin: 2px;
}

#small-headline-block-1,
#small-headline-block-3,
#small-headline-block-4 {
  .category-text,
  .category-dot {
    display: flex;
  }
}

.block-image {
  width: 100%;
}

.article-brief {
  font-family: @main-font;
  color: @article-details-text-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.article-title {
  color: @news-alert-text-color;
  font-family: @main-font;
  font-weight: bold;
}

.small-news-unit {
  a {
    margin: 0;
  }
  .article-title {
    font-size: 13.8px;
    line-height: 17px;
  }

  .block-image {
    margin-bottom: 1em;
  }

  .small-news-block {
    padding-left: 0;
    margin-bottom: 1em;
    cursor: pointer;
  }

  padding: 0;
  margin-bottom: 1em;
}

.large-news-unit {
  .large-news-block {
    cursor: pointer;
  }
  .article-title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 1em;
  }

  .block-image {
    margin-bottom: 1em;
  }
}
